body {
    width: 80%;
    margin: 0 auto;
    color: black;
}
* {
    box-sizing: border-box;
}
h4 {
    height: 100px;
    font-size: 20px;
}
img {
    height: 250px !important;
    width: 150px !important;
    object-fit: cover;
}
.card {
    text-align: center;
    border: none;
    margin-bottom: 10px;
    box-shadow: 1px 1px 15px 2px rgb(160, 160, 152);
}
